.home h1 {
    color: blue;
  }

.home h2 {
    color: rgb(119, 255, 0);
}

.home-container .auth-buttons button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .home-container .auth-buttons .login-button {
    background-color: #007bff;
    color: #fff;
  }
  
  .home-container .auth-buttons .register-button {
    background-color: #28a745;
    color: #fff;
  }